# Transcription & Diarization (transcribe.py)
git+https://github.com/openai/whisper.git
pyannote.audio
pyannote.core
pydub
scikit-learn
numpy

# Summarization with Llama3 (summarize.py)
transformers 
einops 
accelerate 
langchain
langchain-community
bitsandbytes